# init

In [1]:
import numpy as np
import pandas as pd
from copy import deepcopy
from IPython.display import display_html  # this is needed to display pretty matrices side by side

# functions

In [2]:
def highlight_cells(val):
    color = '#FFC6c4' if val == 1 else ''
    style='display:inline'
    return 'background-color: {}'.format(color)

# input

In [3]:
delta = np.array([\
         [0,1,0,0,0,0,0,0],\
         [0,0,0,0,1,0,0,0],\
         [0,0,0,1,1,1,0,0],\
         [0,0,0,0,0,1,0,0],\
         [0,0,0,0,0,0,0,1],\
         [0,0,0,0,0,0,0,1],\
         [0,0,0,0,0,0,0,1],\
         [0,0,0,0,0,0,0,0]])

# example

In [4]:
df1_styler = pd.DataFrame(delta).style.\
    applymap(highlight_cells).\
    set_table_attributes("style='display:inline'").\
    set_caption('Original boundary matrix')
# display call has to be here 
# even if we change delta to temp_delta, df1 updates to be the 
# same as df2 if we call them at the same time! Super weird.
# consider not using Pandas if it's going to mess up data. 
# is this one of those class issues with python where it 
# updates the object used by the entire class?
display(df1_styler)

# here we alter the matrix
delta[:,5] = (delta[:,4] + delta[:,5]) % 2

df2_styler = pd.DataFrame(delta).style.\
    applymap(highlight_cells).\
    set_table_attributes("style='display:inline'").\
    set_caption('One column addition')


display(df2_styler)

# reduction alg
`
R = delta
for j = 1 to m do
    while there is a column x left of j with a lower one
    add x to j`

In [5]:
# matrix = np.array([\
#          [0,1,0,0,0,0,0,0],\
#          [0,0,0,0,1,0,0,0],\
#          [0,0,0,1,1,1,0,0],\
#          [0,0,0,0,0,1,0,0],\
#          [0,0,0,0,0,0,0,1],\
#          [0,0,0,0,0,0,0,1],\
#          [0,0,0,0,0,0,0,1],\
#          [0,0,0,0,0,0,0,0]])

# matrix = np.array([\
#          [0,1,0,0,0,0,0,0],\
#          [0,0,0,0,1,0,0,0],\
#          [0,1,1,1,1,1,0,0],\
#          [0,0,0,0,0,1,0,0],\
#          [0,0,0,1,1,0,0,1],\
#          [0,0,0,0,0,1,1,1],\
#          [0,0,0,0,0,0,0,1],\
#          [1,1,1,1,1,1,1,1]])

# matrix = np.array([\
#          [0,0,0,0,0,0,1,0],\
#          [0,0,0,0,0,1,1,0],\
#          [0,0,0,0,1,1,0,0],\
#          [0,0,0,1,1,0,0,0],\
#          [0,0,1,1,0,0,0,0],\
#          [0,1,1,0,0,0,0,0],\
#          [1,1,0,0,0,0,0,0],\
#          [1,0,0,0,0,0,0,1]])

# matrix = np.array([\
#          [1,1,0,0,0,0,0,0],\
#          [0,1,1,0,0,0,0,0],\
#          [0,0,1,1,0,0,0,0],\
#          [0,0,0,1,1,0,0,0],\
#          [0,0,0,0,1,1,0,0],\
#          [0,0,0,0,0,1,1,0],\
#          [0,0,0,0,0,0,1,1],\
#          [0,0,0,0,0,0,0,0]])

matrix = np.array([\
         [0,1,0,0,0,0,0,0],\
         [0,1,1,0,0,0,0,0],\
         [0,0,1,1,0,0,0,0],\
         [0,0,0,1,1,0,0,0],\
         [0,0,0,0,1,1,0,0],\
         [0,0,0,0,0,1,1,0],\
         [0,0,0,0,0,0,1,1],\
         [0,0,0,0,0,0,0,0]])


def lowest_one(matrix_column):
    # go from bottom to top of column and return first 1 encountered
    # usage example: matrix[:,0] returns the 0th column
    column = np.array(matrix_column)
    length = column.size
    for i in range(length):
#         print(length - i - 1, column[length - i - 1])
        if column[length - i - 1] == 1:
            return length - i - 1
#     print(column)
    return None
    


# function: input column position x (index in column of lowest one), 
# and check collection of columns if any contain the same lowest one. if yes, output column number.
# if yes, output number, if no, output false, so can use in loop? or can just say if number > 0 in loop.

# def check_left(j, matrix):
#     print('left')


def highlight_cells_2(val):
    color = '#FFC666' if val == 0 else ''
    style = 'display:inline'
    return 'background-color: {}'.format(color)
 
cell_hover = {  # for row hover use <tr> instead of <td>
    'selector': 'td:hover',
    'props': [('background-color', '#ffffb3')]
}

In [6]:
def reduce(matrix):
    matrix = deepcopy(matrix)
    dfstyles = []
    print("columns: ", matrix[0,:].size, " rows: ", matrix[:,0].size)


    stylestring = pd.DataFrame(matrix).style.\
    applymap(highlight_cells).\
    set_table_styles([cell_hover], 'columns').\
    set_table_attributes("style='display:inline'").\
    set_caption('Initial matrix')._repr_html_()
    
    # for each column i 
    for i in range(matrix[0,:].size):
        col_i = matrix[:,i]
#         print("column", i)
        # For each column j left of column i, if low(j) = low(i), add j to i
        # this needs to be a while loop bc one of the ops could add a 1 back in
        while True:
            should_restart = False
            for j in range(i):
                col_j = matrix[:,j]
    #             print(col_j, "\n")
                if (lowest_one(col_j) == lowest_one(col_i)) and (lowest_one(col_j) != None):
    #                 print("lowest one in ", j, " same as in ", i)
                    matrix[:,i] = (col_j + col_i) % 2

                    df_styler = pd.DataFrame(matrix).style.\
                    applymap(highlight_cells).\
                    set_table_styles([cell_hover], 'columns').\
                    set_table_attributes("style='display:inline'").\
                    set_caption('column ' + str(j) + ' added to column ' + str(i) )._repr_html_()

                    dfstyles.append(df_styler)
                    # restart the while loop
                    should_restart = True
                    break
            if should_restart:
                continue
            else:
                break

    
        # while there exists column ... 
        # (function that checks block of columns and outputs column with same lowest one)
#             check_left(j, matrix)
    for style in dfstyles: 
        stylestring = stylestring + style
    display_html(stylestring, raw=True)
    return matrix
    
reduced = reduce(matrix)

columns:  8  rows:  8

,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,1
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,1
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,1
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,1
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,1
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,1
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,1
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0

## TODO:
- [x] look at to do list
- function "Reduce" doesn't check if input is empty
- "lowest one" also doesn't check
- change for loop to while loop

In [7]:
def reduce_hellloooooo(matrix):
    matrix = deepcopy(matrix)
    # for each column i we assume that matrix [:,i] is reduced
    for i in range(matrix[0,:].size):
        col_i = matrix[:,i]
        # We are reducing column i;
        # if we can find a column in [0,i) which lowest 1 is the same as in matrix[:,i], we add it to matrix[:,i]
        while True:
            col = find_lowest_one_with_column_equal(matrix, i)
            if col == None:
                break;
            matrix[:,i] += col
    return matrix
    
reduced = reduce(matrix)

columns:  8  rows:  8

,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,1
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,1
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,1
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,1
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,1
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,0
1,0,1,1,0,0,0,0,1
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0
,0,1,2,3,4,5,6,7
0,0,1,0,0,0,0,0,1
1,0,1,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0
3,0,0,0,1,1,0,0,0
4,0,0,0,0,1,1,0,0
5,0,0,0,0,0,1,1,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0

# sneaky sparse repr tricks from ondra

### this

In [8]:
m1 = np.array([\
         [0,1,0,0,0,0,0,0],\
         [0,1,1,0,0,0,0,0],\
         [0,0,1,1,0,0,0,0],\
         [0,0,0,1,1,0,0,0],\
         [0,0,0,0,1,1,0,0],\
         [0,0,0,0,0,1,1,0],\
         [0,0,0,0,0,0,1,1],\
         [0,0,0,0,0,0,0,0]])

### is the same as

In [9]:
m2 = {
    0 : {1},
    1 : {1,2},
    2 : {2,3},
    3 : {3,4},
    4 : {4,5},
    5 : {5,6},
    6 : {6,7}
}

# bitwise addition. can use this instead of %2
m2[4]^m2[3] # Z_2 addition of rows 4 and 3

{3, 5}

https://stackoverflow.com/questions/70157819/linear-independence-of-vectors-in-modular-arithmetic-mod-2-using-python/73948013#73948013